main {
    min-height: 100vh;
    background-color: #24353F;
    overflow: hidden;
}


a {
    text-decoration: none;
    color: #fff !important;
    

}
input {
    background-color: #24353F !important;
    color: #fff !important;
}
input::placeholder {
    color: #ffffff9a !important;
    opacity: 1 !important; /* Firefox */
  }